* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0EFE9;
  color: #60616D;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 370px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 10px lightgrey;
}

.header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.header h1 {
  font-size: 30px;
}

.header .date {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.header .day {
  justify-self: flex-end;
}

.header .day h2 {
  font-size: 15px;
}

.list li {
  margin: 10px;
  display: flex;
  text-align: left;
}

.list li .title {
  flex: 1;
  /*color: rgb(167, 167, 167);*/
}

.list li button {
  color: #50E3A4;
  font-size: 25px;
  background: none;
}

ul li.done {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


input {
  width:320px;
  height: 10px;
  border: 5px solid lightgray; 
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
}
  
.add-button {
  background-color: #00A24B;
  border: 0;
  color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 31px;
  cursor: pointer;


}
.add-button:hover {
  background-color: rgb(0, 122, 57);
}
.add-button:active {
  outline: none;
  background-color: rgb(0, 87, 41);
}
.add-button:focus {
  outline: none;
}

footer.addbtn {
  margin-left: 140px;
  margin-bottom: -60px;
}

.error {
  color: red;
}

.errors input {
  border-color: red;
}

/* 
ul {
  margin: auto;
  width: 400px;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}



.row {
  margin-left:auto;
  margin-right: auto;
  text-align:centre;
  width:310px;
  border:none;
  font-size:20px;
  background-color: transparent;
}


.add-button {
  background-color: #00A24B;
  border: 0;
  color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 31px;
  cursor: pointer;
}
.add-button:hover {
  background-color: rgb(0, 122, 57);
}
.add-button:active {
  outline: none;
  background-color: rgb(0, 87, 41);
}
.add-button:focus {
  outline: none;
}

body {
text-align: center;
}

.inputDiv {
  margin:20px;
  margin-left:auto;
  margin-right: auto;

}

.row {
  padding: 0;
  border: none;
  background-color: transparent;
}

.remove-button {
  background-color: red;
  border: 0;
  color: #FFF;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 27px;
  cursor: pointer;
}
.remove-button:hover {
  background-color: rgb(107, 5, 14);
}
.remove-button:active {
  outline: none;
  background-color: rgb(36, 1, 1);
}
.add-button:focus {
  outline: none;
}

.input {
  width:400px;
  text-align:centre;
}

.myUL {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
} */
